<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <h1>Basketball Team! </h1>
  Team Name: <%= @team[:name] %><br>
  Coach: <%= @team[:coach] %><br>
  Point Guard: <%=@team[:pg] %><br>
  Power Forward: <%=@team[:pf] %><br>
  Shooting Guard: <%=@team[:sg] %><br>
  Small Forward: <%=@team[:sf] %><br>
  Center: <%=@team[:c] %><br>




 </body>
</html>


