<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

   <h1>Team Name: <%= @name %><br></h1>
   <p>Coach: <%= @coach %><br></p>
   <p>Point Guard: <%= @pg %><br></p>
   <p>Shooting Guard: <%= @sg %><br></p>
   <p>Small Forward: <%= @sf %><br></p>
   <p>Power Forward: <%= @pf %><br></p>
   <p>Center: <%= @c %><br></p>

 </body>
</html>
